<footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted"> &#169; copyrights only for shalini</span>
  </div>
</footer>

<style>
  .footer {
    background-color: #dcd2d2;
  }
</style>
